<%#
This file is part of SSID.

SSID is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SSID is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with SSID.  If not, see <http://www.gnu.org/licenses/>.
%>

<div class="site">
<%= form_tag do %>

  <h5 class="login_helper_text">Welcome to SSID</h5>
  <fieldset>
    <div class="form-floating">
      <%= text_field_tag :username, params[:username], placeholder: 'Username', :class => "form-control" %>
      <%= label_tag 'Username' %>
    </div>
    <div class="form-floating mb-3">
      <%= password_field_tag :password, params[:password], placeholder: 'Password', :class => "form-control" %>
      <%= label_tag 'password' %>

    </div>
    <span>
      <%= submit_tag "Login", :class => "site_login" %>
    </span>
  </fieldset>
  <% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <p class="site_copyright">&copy; 2009–2022 Web Information Retrieval and Natural Language Processing Group</p>
<% end %>
</div>
