<div class="site">
<%= form_tag do %>

  <h5 class="forget-password-helper-text">Reset password</h5>
  <fieldset>
    <div class="form-floating mb-3">
      <%= email_field_tag :user_email, params[:user_email], placeholder: 'Email address', :class => "form-control" %>
      <%= label_tag 'Email address' %>
    </div>
    <span>
      <%= submit_tag "Send a password reset link", :class => "site-password-reset-link" %>
    </span>
  </fieldset>
  <% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <p class="site_copyright">&copy; 2009–2022 Web Information Retrieval and Natural Language Processing Group</p>
<% end %>
</div>