<meta name="referrer" content="no-referrer">

<div class="col-md-6">
  <h5>Reset Your Password</h5>  


  <% unless @valid_token %>
    <p>The reset link has expired.</p>
  <% else %>
    <%= form_with url: "/reset_password", method: :put, id: "reset-password" do |f| %>
      <%= hidden_field_tag :user_token, @user_token %>
      <div class="row">
        <div class="new-password col-12">
          <%= f.label :new_password, class: "form-label" %>
          <%= f.password_field :new_password, class: "form-control" %>
          <p class="error-explanation"></p>
        </div>
        <div class="confirm-new-password col-12">
          <%= f.label :confirm_new_password, class: "form-label" %>
          <%= f.password_field :confirm_new_password, class: "form-control" %>
          <p class="error-explanation"></p>
        </div>
        <div class="col-12">
          <%= f.submit "Reset", class: "submit" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

