<div>
  <h5>Reset Your Password</h5>

  <% unless @valid_token %>
    <p>The reset link has expired.</p>
  <% else %>
    <%= form_with url: "/reset_password", method: :post do |f| %>
      <%= hidden_field_tag :user_id, @user_id %>
      <div class="col-12">
        <%= f.label :new_password, class: "form-label" %>
        <%= f.password_field :new_password, class: "form-control" %>
      </div>
      <div class="col-12">
        <%= f.label :confirm_new_password, class: "form-label" %>
        <%= f.password_field :confirm_new_password, class: "form-control" %>
      </div>
      <%= f.submit "Reset", class: "submit" %>
    <% end %>
  <% end %>
</div>

