<%= form_for([@course, @assignment]) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h3>
      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :language %>
    <%= f.select :language, Assignment.options_for_languages %>
  </div>
  <div>
    <%= f.label :min_match_length, "Minimum Match Length [?]" , title: "For Java, only '.java' files will be processed." %>
    <%= f.text_field :min_match_length %>
  </div>
  <div>
    <%= f.label :ngram_size, "Size of n-gram [?]", title: "An n-gram is a contiguous subsequence of n tokens of a given sequence." %>
    <%= f.text_field :ngram_size %>
  </div>
  <div>
    <%= f.label :file, "Student submissions (zip) [?]", title: "The zip file should contain one folder for each student's code files; folders are named according to student ID." %>
    <%= f.file_field :file %>
  </div>
  <div>
    <%= f.submit class: "submit" %>
  </div>
<% end %>
