<%= javascript_tag do %>
  statusURL = "<%= course_status_url(@course)%>";
<% end %>

<h2><%= @course.code %> Assignments</h2>
<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if @assignments.empty? %>
  <p class="none_created">No Assignment has been created.</p>
<% else %>
  <% @assignments.each do |assignment| %>
    <div id="status">
      <%= link_to "Submission Details" , assignment_path(assignment) %>
      <%= link_to "Students" %>
      <%= link_to "New Cluster" , new_assignment_cluster_group_path(assignment) %>
      <%= link_to "Existing Clusters" , assignment_cluster_groups_path(assignment) %>

    </div>
  <% end %>
<% end %>
<hr />
<div class="actions">
  <%= link_to "New Assignment", new_course_assignment_url(@course) %>
  <%= link_to "View Visuals", course_visualize_url(@course) %>
</div>
