<%= javascript_tag do %>
  statusURL = "<%= course_status_url(@course)%>";
<% end %>

<header class="assignment_header">
<h4><%= @course.code %> Assignments</h4>
<div class="actions">
  <%= link_to image_tag("add_circle_outline_blue_24dp.svg", size: "28", alt: "New Assignment"), new_course_assignment_url(@course), { 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'title' => 'New Assignment'} %>
  <%= link_to image_tag("show_chart_blue_24dp.svg", size: "28", alt: "View Visuals"), course_visualize_url(@course), { 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'title' => 'View Visuals' } %>
</div>
</header>
<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if @assignments.empty? %>
  <p class="none_created">No Assignment has been created.</p>
<% elsif @guest_details.length > 0 %>
  <h5>Processed:</h5>
  <table class="processed_assignments">
    <thead>
      <tr>
        <th>Title</th>
        <th class="lang_col">Language</th>
        <th class="submissions_col">Submissions</th>
        <th class="suspected_cases_col">Suspected Plagiarism Cases</th>
        <th class="marked_cases_col">Confirmed Plagiarism Cases</th>
        <th class="action_col">View</th>
        <th class="delete_col">Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @processed_assignments.each { |a| %>
      <% if @assignment_to_be_shown.include? a.id %>
        <tr>
          <td><%= a.title %></td>
          <td><%= a.language_string %></td>
          <td><%= a.submissions.size %></td>
          <td><%= a.suspected_plagiarism_cases.size %></td>
          <td><%= a.confirmed_plagiarism_cases.size %></td>
          <td>
            <%= link_to image_tag("plagiarism_black_24dp.svg", alt: "Submission similarities"), assignment_submission_similarities_url(a), { 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'title' => 'Submission similarities' } %>
            <%= link_to image_tag("scatter_plot_black_24dp.svg", alt: "Similarity groups"), assignment_cluster_groups_url(a), { 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'title' => 'Similarity groups'} %>
            <%= link_to image_tag("description_black_24dp.svg", alt: "Upload log"), course_assignment_log_url(@course, a), { 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'title' => 'Upload log' } %>
          </td>
          <td>
            <div class="dropdown">
              <a data-toggle="dropdown" id="assignmentDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <%= image_tag("more_vert_black_24dp.svg", alt: "Assignment Menu Dropdown")%>      
              </a>
              <ul class="dropdown-menu" aria-labelledby="assignmentDropdownMenuLink">
                <li><%= link_to "Delete", course_assignment_url(@course, a), method: "delete", data: {confirm: "This assignment will be permanently deleted and cannot be recovered. Are you sure?"}, class: "dropdown-item" %></li>
              </ul>
            </div>          
          </td>
        </tr>
      <%  end %>
    <% } %>
    </tbody>
  </table>
<% else %>
  <% @assignments.each do |assignment| %>
    <div id="status">
    </div>
  <% end %>
<% end %>

