<%
=begin
This file is part of SSID.

SSID is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SSID is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with SSID.  If not, see <http://www.gnu.org/licenses/>.
=end
%>

<h1>New Module</h1>

<% form_for(@module, :url => { :action => 'module_create' }) do |f| %>
  <%= f.error_messages %>
  <table cellspacing="2">
    <tr>
      <td>
        <%= f.label :code %><br />
        <%= f.text_field :code %>
      </td>
      <td>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :academic_year %><br />
        <%= select_year(Time.now.year , :id => 'course_academic_year_start', :prefix => 'course[academic_year_start]', :discard_type => true)%>
      </td>
      <td>
        <%= f.label :semester %><br />
        <%= f.select(:semester, (1..4).collect {|c| [c, c]}) %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= f.label :expiry %><br />
        <%= f.datetime_select(:expiry, :include_seconds => true, :order => [:day, :month, :year]) %>
      </td>
    </tr>
  </table>
  <h2>Account Associated</h2>
  <% if @accounts.size == 0 %>
    No user account exists.
  <% else %>
    <table border="1" style="table-layout: fixed; width: 656px;">
      <col width="50"/>
      <col width="150"/>
      <col width="100"/>
      <col width="200"/>
      <col width="156"/>
      <tr>
        <th>&nbsp;</th>
        <th>ID</th>
        <th>Matric</th>
        <th>Name</th>
        <th>Role</th>
      </tr>
      <% for account in @accounts %>
        <tr>
          <td><%= check_box 'associated_account', account.id %></td>
          <td><%= account.login %></td>
          <td><%= account.matric %></td>
          <td><%= account.name %></td>
          <td><%= select "associated_account_role", account.id, [[get_role(0), 0], [get_role(1), 1]], {:selected => 0} %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', :action => 'module_index' %>