<div class="course_users_section">
<header class="course_user_header">
  <h5><%= @course.code %> Users</h5>
  <% if current_user.is_admin || @course.membership_for_user(current_user).role == UserCourseMembership::ROLE_TEACHING_STAFF %>
    <%= link_to image_tag("person_add_blue_24dp.svg", size: "28", alt: "Add #{@course.code} User"), new_course_user_course_membership_path, { 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'title' => "Add #{@course.code} User" } %>
  <% end %>
</header>

<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th class="id_col">Name</th>
      <th class="role_col">Role</th>
      <% if current_user.is_admin || @course.membership_for_user(current_user).role == UserCourseMembership::ROLE_TEACHING_STAFF %>
        <th class="actions_col">Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% (@staff + @teaching_assistants + @students + @guests).each { |user| %>
      <tr>
        <td><%= user.full_name || "--" %></td>
        <td><%= user.name %></td>
        <td><%= @course.role_string_for_user(user) %></td>
        <% if current_user.is_admin || @course.membership_for_user(current_user).role == UserCourseMembership::ROLE_TEACHING_STAFF %>        
          <td>
            <div class="dropdown">
            <!-- Dropdown actions are available in 2 cases:
              1. current logged-in user is an admin as admin has privilege to edit all users' info. 
              2. Shown record is a non-student record   
            -->
            <% if @course.membership_for_user(user).role != UserCourseMembership::ROLE_STUDENT %>
              <a data-toggle="dropdown" id="userDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <%= image_tag("more_vert_black_24dp.svg", alt: "User Menu Dropdown")%>                  
              </a>
              <ul class="dropdown-menu" aria-labelledby="userDropdownMenuLink">
                <% if @course.membership_for_user(user).role != UserCourseMembership::ROLE_GUEST %>
                  <li><%= link_to "Edit", edit_course_user_course_membership_path(@course, @course.membership_for_user(user)), class: "dropdown-item" %></li>                        
                <% end %>
                <li> 
                  <% url = course_user_course_membership_path(@course, @course.membership_for_user(user)) %>
                  <%= button_tag 'Remove', class: "dropdown-item", data: { 'bs-toggle' => "modal", 'bs-target' => "#removeUserModal", 'bs-url' => "#{url}" } %>
                </li>
              </ul>
            <% end %> 
            </div>          
          </td>
        <% end %>
      </tr>
    <% } %>
  </tbody>
</table>

</div>

<div class="modal fade" id="removeUserModal" tabindex="-1" role="dialog" aria-hidden="true">
  <% @modal = SiteModal.new("Remove User", "The user will be removed from the course. Are you sure?", { :name => "OK", :method => :delete }) %>
  <%= render partial: "site/modal", locals: { modal: @modal }%>
</div>

<%= javascript_include_tag "site_modal.js" %>
