<%= form_with(model: [ @course, @user_course_membership ]) do |form| %>
  <!-- TODO: include errors later -->
  <% if @user_course_membership.errors.any? %>
    <div>
      <h6 class="error_title"><%= pluralize(@user_course_membership.errors.count, "error") %> prohibited this user from being added to the course:</h6>
      <ul>
      <% @user_course_membership.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  
  <div class="row">
    <div class="col-12">
      <%= form.label :user_email, class: "form-label" %>
      <%= form.email_field :user_email, class: "form-control" %>      
    </div>
    <div class="col-12">
      <%= form.label :course_role, class: "form-label" %>
      <%= form.select :course_role, UserCourseMembership.options_for_non_student_roles, {}, { :class => 'form-select' } %>      
    </div>
    <div class="col-12">
      <%= form.submit class: "submit" %>
    </div>
  </div>
<% end %>




