<h4>Student: <%= @submission.student.id_string %></h4>

<table>
  <thead>
    <tr>
      <th class="student_col">Date/time</th>
      <th class="student_col">Course</th>
      <th class="similarity_col">Assignment</th>
      <th class="similarity_col">Grader</th>
      <th>Remarks</th>
    </tr>
  </thead>
  <tbody>
    <% @submission.student.submissions.each do |sub| %>
        <% sub.logs.reverse.each do |log| %>
          <% if !log.submission.assignment.nil? %>
          <tr>
              <td><%= log.created_at.in_time_zone.strftime '%Y-%m-%d %H:%M:%S' %></td>
              <td><%= log.submission.course.code_and_name %></td>
              <td><%= log.submission.assignment.title %></td>
              <td><%= log.marker.full_name %></td>
              <td><%= log.log_string %></td>
          </tr>
          <% end %>
        <% end %>
    <% end %>  
  </tbody>
</table>

