<h2><%= @course.code %> Assignment: <%= @assignment.title %> Submission Log for Student: <%= @submission.student_id_string %></h2>

<% if @submission_logs.empty? %>
  Log is currently empty. This log will be populated whenever the submission is marked / unmarked as suspicious / plagiarism and when the student is found guilty of plagiarism.
<% else %>
  <table>
    <thead>
      <tr>
        <th class="date_time_col">Date / Time</th>
        <th class="marker_col">Marker</th>
        <th>Remarks</th>
      </tr>
    </thead>
    <tbody>
      <% @submission_logs.each { |log| %>
      <tr>
        <td><%= log.created_at.in_time_zone %></td>
        <td><%= log.marker.id_string %></td>
        <td><%= log.log_string %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
<% end %>
<div>
</div>
