<% cluster_id = cluster_id || nil %>
<% submission_student_ids = submission_student_ids || nil %>
<h5>Cluster Group from Students: <span><%= submission_student_ids.join(", ") if submission_student_ids %></span></h5>
<div class="legend">
  <h6>Similarity</h6>
  <% SubmissionClustersHelper::LEGEND_SIMILARITY_VALUES.each { |val| %>
    <% if val >= 50 %>
      <div class="legend_<%= val %>"><span>&nbsp;</span> &#8805; <%= val %>%</div>
    <% else %>
      <div class="legend_<%= val %>"><span>&nbsp;</span> &lt; 50%</div>
    <% end %>
  <% } %>
</div>
<div id="canvas_wrapper_<%= cluster_id if cluster_id %>" class="canvas_wrapper"></div>
