<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited these user settings from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :old_password %>:
    <%= f.password_field :old_password %>
  </div>
  <div>
    <%= f.label :new_password %>:
    <%= f.password_field :new_password %>
  </div>
  <div>
    <%= f.label :confirm_new_password %>:
    <%= f.password_field :confirm_new_password %>
  </div>
  <div>
    <%= f.submit "Update Settings", class: "submit" %>
  </div>
<% end %>
