<%= form_for(@user) do |f| %>
    <%= render "shared/error_messages"%>
    <div>
    <%= f.label :full_name, class: "form-label" %>
    <%= f.text_field :full_name, class: "form-control" %>
    </div>
    <div>
    <%= f.label :username, "Username", class: "form-label" %>
    <%= f.text_field :username, class: "form-control" %>
    </div>
    <div>
      <%= f.label :email, class: "form-label" %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div>
      <%= f.label :password, class: "form-label" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div>
      <%= f.label :password_confirmation, class: "form-label" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <div>
      <%= f.submit "Sign Up", class: "submit" %>
    </div>
  <% end %>
  