<%
=begin
This file is part of SSID.

SSID is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SSID is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with SSID.  If not, see <http://www.gnu.org/licenses/>.
=end
%>

<%
course = @assignment.course
@aId = @assignment.id

sql_query = "SELECT asr.* FROM assignment_sim_results as asr, assignment_codes as ac1, assignment_codes as ac2, students as s1, students as s2 WHERE asr.assignment_id = ? AND ac1.id = asr.id1 AND ac2.id = asr.id2 AND ac1.student_id = s1.id AND ac2.student_id = s2.id AND ((s1.matric LIKE ? AND s2.matric LIKE ?) OR (s2.matric LIKE ? AND s1.matric LIKE ?))"
count_query = sql_query + ""

case @sortType
when "student1" then sql_query << " order by s1.matric"
when "student2" then sql_query << " order by s2.matric"
when "sim1To2" then sql_query << " order by sim1To2"
when "sim2To1" then sql_query << " order by sim2To1"
when "avg" then sql_query << " order by ((sim1To2 + sim2To1) / 2)"
when "status" then sql_query << " order by status"
  #default: sum_desc
else sql_query << " order by sim"
end

case @sortDirection
when "desc" then sql_query << " DESC"
else sql_query << " ASC"
end

sql_query << " LIMIT ? OFFSET ?"

results = AssignmentSimResult.find_by_sql([sql_query, @aId, @showOnlyStudents[0], @showOnlyStudents[1], @showOnlyStudents[0], @showOnlyStudents[1], @resultsPerPage, (@page - 1) * @resultsPerPage])

totalResultSize = AssignmentSimResult.find_by_sql([count_query, @aId, @showOnlyStudents[0], @showOnlyStudents[1], @showOnlyStudents[0], @showOnlyStudents[1]]).size

startIndex = (@page - 1) * @resultsPerPage + 1
endIndex = startIndex + results.size - 1

startIndex = 0 if endIndex == 0

filteredStudent = 2
@fStudent1 = @showOnlyStudents[0][1...-1]
@fStudent2 = @showOnlyStudents[1][1...-1]
@showOnlyStudents.each { |student|
  filteredStudent = filteredStudent - 1 if student == "%%"
}

def getSortImage(sort)
  if @sortType == sort
    if @sortDirection == "desc"
      " <img style='background-color: transparent;' src=\"../images/sort_desc.png\" border=\"0\" />"
    else
      " <img src=\"../images/sort_asc.png\" border=\"0\" />"
    end
  else
    ""
  end
end

def getSortURL(sort)
  if @sortType == sort && @sortDirection == "desc"
    getURL(@aId, 1, @resultsPerPage, @sortType, "asc", @fStudent1, @fStudent2)
  else
    getURL(@aId, 1, @resultsPerPage, sort, "desc", @fStudent1, @fStudent2)
  end
end

def getURL (id, page, rpp, sort, direction, fs1, fs2)
  "assignment_sim_result_view?assignment_id=#{id}&page=#{page}&rpp=#{rpp}&sort=#{sort}&sortDirection=#{direction}&fs1=#{fs1}&fs2=#{fs2}"
end

def getHref(sort, title)
  "onmouseover=\"Tip('Sort by #{title}');\" onclick=\"document.location='#{getSortURL(sort)}';\" onmouseout=\"UnTip();\""
  #"<a title=\"Sort by #{title}\" href=\"" + getSortURL(sort) + "\">"
end

def getLogURL (studentId, courseId)
  "sim_log_view?student_id=#{studentId}&course_id=#{courseId}"
end

%>

<div class="breadcrumb"><%= link_to "My Modules", {:action => "course_listing"}, :class => "breadcrumbItem" %> > <%= link_to course.code, {:action => "assignment_listing", :course_id => course.id}, :class => "breadcrumbItem" %> > Assignment: <%=@assignment.title%></div>
<div style="width: 100%; margin: 0px; padding: 0px;">
  <table cellpadding="0" cellspacing="0">
    <tr>
      <td>
        <h2 style="display:inline-block;">Results for pairwise comparison of submissions</h2>
      </td>
      <td style="text-align: right;">
        Results <%=startIndex%> - <%=endIndex%> of <%=totalResultSize%>
      </td>
    </tr>
    <tr>
      <td>
        <form action="assignment_sim_result_view">
          <%
          if filteredStudent == 0
          %>
            Add filter by student: <input type="text" name="fs1"/><input type="submit" value="Filter"/>
          <%
          elsif filteredStudent == 1
          %>
            Filtered by student: <%= @fStudent1 %> [<a href="<%=getURL(@aId, 1, @resultsPerPage, @sortType, @sortDirection, "", "")%>" class="normalLink" onclick="">Remove</a>]<br />
            Add filter by student: <input type="text" name="fs2"/><input type="submit" value="Filter"/>
            <input type="hidden" name="fs1" value="<%=@fStudent1%>"/>
          <%
          else
          %>
            Filtered by student: <%= @fStudent1 %> [<a href="<%=getURL(@aId, 1, @resultsPerPage, @sortType, @sortDirection, @fStudent2, "")%>" class="normalLink" onclick="">Remove</a>],
            <%= @fStudent2 %>&nbsp;[<a href="<%=getURL(@aId, 1, @resultsPerPage, @sortType, @sortDirection, @fStudent1, "")%>" class="normalLink" onclick="">Remove</a>] <br />
          <%
          end
        %>

          <input type="hidden" name="assignment_id" value="<%=@aId%>"/>
          <input type="hidden" name="rpp" value="<%=@resultsPerPage%>"/>
          <input type="hidden" name="sort" value="<%= @sortType%>"/>
          <input type="hidden" name="sortDirection" value="<%=@sortDirection%>"/>
        </form>
      </td>
      <td style="text-align: right;">
        <%= link_to "View Groupings", {:action => "assignment_clustering_listing", :assignment_id => @aId}, :class => "normalLink"%>
      </td>
    </tr>
  </table>
</div>
<%
if (results.size > 0)
%>
  <hr/>
  <table class="listing" cellpadding="3">
    <col width="1*"/>
    <col width="1*"/>
    <col width="1*"/>
    <col width="1*"/>
    <col width="1*"/>
    <col width="1*"/>
    <col width="2*"/>
    <col width="1*"/>
    <thead class="listing">
      <tr class="listing">
        <th class="listing" style="cursor: default;">Student 1<%=genHelp("Student matric in <span style='color: red;'>red</span> denotes the student is found guilty in plagiarism in this assignment.<br/><span style='color:red'>*</span> denotes log is avaliable for the student.<br/><br/>To show student's log, click the student matric.")%></th>
        <th class="listing" style="cursor: default;">Student 2<%=genHelp("Student matric in <span style='color: red;'>red</span> denotes the student is found guilty in plagiarism in this assignment.<br/><span style='color:red'>*</span> denotes log is avaliable for the student.<br/><br/>To show student's log, click the student matric.")%></th>
        <th class="listing" style="cursor: pointer;" <%=getHref("sim1To2", "similarity from student 1 to student 2")%>>Similarity<br/>(1 to 2)<%=getSortImage("sim1To2")%></th>
        <th class="listing" style="cursor: pointer;" <%=getHref("sim2To1", "similarity from student 2 to student 1")%>>Similarity<br/>(2 to 1)<%=getSortImage("sim2To1")%></th>
        <th class="listing" style="cursor: pointer;" <%=getHref("max", "the maximum similarity between the asymmetric similarities")%>>Max<%=getSortImage("max")%></th>
        <th class="listing" style="cursor: pointer;" <%=getHref("avg", "the average similarity of the asymmetric similarities")%>>Avg<%=getSortImage("avg")%></th>
        <th class="listing" style="cursor: pointer;" <%=getHref("status", "remark")%>>Remark<%=getSortImage("status")%></th>
        <th class="listing" style="cursor: default;">Result</th>
      </tr>
    </thead>
    <%
    for i in (0...results.size)
      result = results[i]
      sim1To2 = result.sim1To2
      sim2To1 = result.sim2To1
      sum = sim1To2 + sim2To1
      max = "%0.3f" % (result.sim)
      avg = "%0.3f" % (sum / 2)
      sim2To1 = "%0.3f" % sim2To1
      sim1To2 = "%0.3f" % sim1To2
    %>
      <tr class="listing" onmouseover="this.style.backgroundColor ='<%=highlightColor_row%>';" onmouseout="this.style.backgroundColor ='white';">
        <%
        if (result.code1.plagiarism)
          student1Color = "red"
          student1Title = "This student is found guilty in plagiarism in this assignment. Click to see student log."
        else
          student1Color = "inherit"
          student1Title = "Click to see student log"
        end

        if (result.code2.plagiarism)
          student2Color = "red"
          student2Title = "This student is found guilty in plagiarism in this assignment. Click to see student log."
        else
          student2Color = "inherit"
          student2Title = "Click to see student log"
        end

        url = "assignment_sim_result_html_view?assignment_sim_result_id=#{result.id}&page=#{@page}&rpp=#{@resultsPerPage}&sort=#{@sortType}&sortDirection=#{@sortDirection}&fs1=#{@fStudent1}&fs2=#{@fStudent2}"

        #Select logs base on course role, ts can see all logs, ta only selected course
        course_role = course.teachings.find(:first, :conditions => "account_id = #{@user_account.id}").role

        case course_role
        when 0 then
          sql_query = "SELECT DISTINCT * FROM plag_logs WHERE student_id = ? ORDER BY updated_at DESC, log_type DESC"
          student1_logs = PlagLog.find_by_sql([sql_query, result.code1.student.id])
          student2_logs = PlagLog.find_by_sql([sql_query, result.code2.student.id])
        else
          sql_query = "SELECT DISTINCT logs.* FROM plag_logs as logs, assignment_sim_results as asr, assignments as a WHERE logs.student_id = ? AND logs.assignment_sim_result_id = asr.id AND asr.assignment_id = a.id AND a.course_id = ? ORDER BY updated_at DESC, log_type DESC"
          student1_logs = PlagLog.find_by_sql([sql_query, result.code1.student.id, course.id])
          student2_logs = PlagLog.find_by_sql([sql_query, result.code2.student.id, course.id])
        end
      %>
        <td class="listing" style="cursor: default;"><%= link_to result.code1.student.matric, getLogURL(result.code1.student.id, course.id), :style => "text-decoration: none; color: #{student1Color}; background-color: transparent;", :onmouseover => "Tip('#{student1Title}');this.style.color='#{highlightColor_link}';", :onmouseout => "UnTip();this.style.color='#{student1Color}'" if student1_logs.size > 0 %><%="<span style='color:red'>*</span>" if student1_logs.size > 0-%><%=result.code1.student.matric if student1_logs.size == 0%></td>
        <td class="listing" style="cursor: default;"><%= link_to result.code2.student.matric, getLogURL(result.code2.student.id, course.id), :style => "text-decoration: none; color: #{student2Color}; background-color: transparent;", :onmouseover => "Tip('#{student2Title}');this.style.color='#{highlightColor_link}';", :onmouseout => "UnTip();this.style.color='#{student2Color}'" if student2_logs.size > 0 %><%="<span style='color:red'>*</span>" if student2_logs.size > 0-%><%=result.code2.student.matric if student2_logs.size == 0%></td>
        <td class="listing" onclick="document.location='<%=url%>';" onmouseover="Tip('Click to view pairwise comparison result');" onmouseout="UnTip();"><%= sim1To2 + "\%" %></td>
        <td class="listing" onclick="document.location='<%=url%>';" onmouseover="Tip('Click to view pairwise comparison result');" onmouseout="UnTip();"><%= sim2To1 + "\%" %></td>
        <td class="listing" onclick="document.location='<%=url%>';" onmouseover="Tip('Click to view pairwise comparison result');" onmouseout="UnTip();"><%= max + "\%"%></td>
        <td class="listing" onclick="document.location='<%=url%>';" onmouseover="Tip('Click to view pairwise comparison result');" onmouseout="UnTip();"><%= avg + "\%"%></td>
        <%=
        case result.status
        when 3
          "<td class=\"listing\" onclick=\"document.location = '#{url}';\" align=\"center\" onmouseover=\"Tip('This pair is reported as suspicious and is pending for investigation<br/><br/>Click to view pairwise comparison result');\" onmouseout=\"UnTip();\"><font color='orange'>Reported Suspicious</font></td>"
        when 2
          "<td class=\"listing\" onclick=\"document.location='#{url}';\" align=\"center\" onmouseover=\"Tip('This pair is confirmed as plagiarism<br/><br/>Click to view pairwise comparison result');\" onmouseout=\"UnTip();\"><font color='red'>Confirmed Plagiarism</font></td>"
        when 1
          "<td class=\"listing\" onclick=\"document.location='#{url}';\" align=\"center\" onmouseover=\"Tip('This pair was reported as suspicious but the students are found innocent in further investigation<br/><br/>Click to view pairwise comparison result');\" onmouseout=\"UnTip();\"><font color='blue'>Found Innocent</font></td>"
        else
          "<td class='listing' onclick=\"document.location='#{url}';\" onmouseover=\"Tip('Click to view pairwise comparison result');\" onmouseout=\"UnTip();\" />"
        end
      %>
        <td class="listing" style="text-decoration: underline;" onmouseover="Tip('Click to view pairwise comparison result'); this.style.color='<%=highlightColor_link%>';" onmouseout="UnTip(); this.style.color='#333';" onclick="document.location = '<%=url%>'">View</td>
      </tr>
    <% end %>
  </table>
  <p/>
  <div class="instruction">To view student's log, click the student matric</div>
  <div class="instruction">To create new grouping, click View Groupings</div>
<%
else
%>
  <hr/>
  <h3>No result found</h3>

<%
end
%>
<hr />
<table>
  <tr>
    <td></td>
    <td><div align="center" style="font-weight:bold">

        <%
        totalPages = (totalResultSize.to_f / @resultsPerPage).ceil
        startPage = @page - 5
        startPage = 1 if startPage < 1
        endPage = startPage + 10
        endPage = totalPages if endPage > totalPages
        if 1 != startPage
        %>
          <%= link_to "First", getURL(@aId, "1", @resultsPerPage, @sortType, @sortDirection, @fStudent1, @fStudent2), :class => "normalLink" %> &nbsp; &nbsp;
        <%
        end
        for i in (startPage..endPage)
          if (i == @page)
          %>
            <font color="red"><%= i %></font>
          <%
          else
          %>
            <%= link_to i.to_s, getURL(@aId, i.to_s, @resultsPerPage, @sortType, @sortDirection, @fStudent1, @fStudent2), :class => "normalLink" %>
          <%
          end
        %>
          &nbsp; &nbsp;
        <%
        end
        if endPage != totalPages
        %>
          <%= link_to "Last", getURL(@aId, totalPages.to_s, @resultsPerPage, @sortType, @sortDirection, @fStudent1, @fStudent2), :class => "normalLink" %> &nbsp; &nbsp;
        <%
        end
      %>
      </div>
    </td>
  </tr>
</table>