<%
=begin
This file is part of SSID.

SSID is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SSID is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with SSID.  If not, see <http://www.gnu.org/licenses/>.
=end
%>

<div class="breadcrumb"><%= link_to "My Modules", {:action => "course_listing"}, :class => "breadcrumbItem" %> > <%= @course.code %></div>
<h2>Assignments</h2>

<% if (@assignments.size == 0) %>
  No assignment is available yet.
<% else
  processing_assignments = []
  submitted_assignments = []
  error_assignments = []
  @assignments.each { |assignment|
    case assignment.status
    when 0 then submitted_assignments << assignment
    when -1 then processing_assignments << assignment
    else error_assignments << assignment
    end

  }
%>
  <% if processing_assignments.size > 0 %>
    <fieldset>
      <legend style="font-size: larger; color: navy;">Processing Assignments</legend>
      <table class="listing">
        <col width="3*"/>
        <col width="1*"/>
        <!--<col width="1*"/>-->
        <thead class="listing">
          <tr class="listing">
            <th class="listing">Title</th>
            <th class="listing">Submitted on</th>
            <!--<th class="listing"/>-->
          </tr>
        </thead>
        <tbody class="listing">
          <%
          processing_assignments.each { |assignment|
          %>
            <tr class="listing" onmouseover="this.style.backgroundColor ='<%=highlightColor_row%>';" onmouseout="this.style.backgroundColor ='white';">
              <td class="listing" style="cursor: default;"><%= assignment.title%></td>
              <td class="listing" style="cursor: default;"><%= assignment.created_at %></td>
              <!--<td class="listing" style="cursor: default;"><%= link_to 'Delete Job', {:action => 'assignment_check_plag_job_delete', :assignment_id => assignment.id}, :confirm => 'Are you sure?', :method => :delete, :class => 'listingItem', :onmouseover => "Tip('Click to delete this job');", :onmouseout => "UnTip();"%></td>-->
            </tr>
          <%  } %>
        </tbody>
      </table>
    </fieldset>
  <%end%>
  <p/>

  <% if error_assignments.size > 0 %>
    <fieldset>
      <legend style="font-size: larger; color: navy;">Processed Assignments with Errors</legend>
      <table class="listing">
        <col width="3*"/>
        <col width="1*"/>
        <col width="1*"/>
        <col width="1*"/>
        <thead class="listing">
          <tr class="listing">
            <th class="listing">Title</th>
            <th class="listing">Submitted on</th>
            <th class="listing">Upload Log</th>
            <th class="listing"></th>
          </tr>
        </thead>
        <tbody class="listing">
          <%
          error_assignments.each { |assignment|
          %>
            <tr class="listing" onmouseover="this.style.backgroundColor ='<%=highlightColor_row%>';" onmouseout="this.style.backgroundColor ='white';">
              <td class="listing" style="cursor: default;"><%= assignment.title%></td>
              <td class="listing" style="cursor: default;"><%= assignment.created_at %></td>
              <td class="listing" style="text-decoration: underline;" onmouseover="Tip('Click to view log'); this.style.color='<%=highlightColor_link%>';" onmouseout="UnTip(); this.style.color='#333';" onclick="document.location = 'assignment_create_log?assignment_id=<%=assignment.id%>'">View</td>
              <td class="listing" style="cursor: default;"><%= link_to 'Delete', {:action => 'assignment_delete', :assignment_id => assignment.id, :course_id => assignment.course_id}, :confirm => 'Are you sure?', :method => :delete, :class => 'listingItem', :onmouseover => "Tip('Click to delete this assignment');", :onmouseout => "UnTip();" %></td>
            </tr>
          <%  } %>
        </tbody>
      </table>
    </fieldset>
  <%end%>
  <p/>

  <% if submitted_assignments.size > 0 %>
    <fieldset>
      <legend style="font-size: larger; color: navy;">Submitted Assignments</legend>
      <table class="listing">
        <col width="6*"/>
        <col width="2*"/>
        <col width="2*"/>
        <col width="2*"/>
        <col width="2*"/>
        <col width="1*"/>
        <thead class="listing">
          <tr class="listing">
            <th class="listing">Title</th>
            <th class="listing">Reported Suspicious Cases</th>
            <th class="listing">Confirmed Plagiarism Cases</th>
            <th class="listing">Groupings <%=genHelp(getExplaination("grouping")).html_safe%></th>
            <th class="listing">Upload Log</th>
            <th class="listing"></th>
          </tr>
        </thead>
        <tbody class="listing">
          <%
          submitted_assignments.each { |assignment|
          %>
            <tr class="listing" onmouseover="this.style.backgroundColor ='<%=highlightColor_row%>';" onmouseout="this.style.backgroundColor ='white';">
              <td class="listing" onmouseover="Tip('Click to view the results for pairwise comparision')" onmouseout="UnTip();" onclick="document.location='assignment_sim_result_view?assignment_id=<%=assignment.id%>';"><%= assignment.title%></td>
              <td class="listing" onmouseover="Tip('Click to view the results for pairwise comparision')" onmouseout="UnTip();" onclick="document.location='assignment_sim_result_view?assignment_id=<%=assignment.id%>';"><%= assignment.reported_plagiarism.size %></td>
              <td class="listing" onmouseover="Tip('Click to view the results for pairwise comparision')" onmouseout="UnTip();" onclick="document.location='assignment_sim_result_view?assignment_id=<%=assignment.id%>';"><%= assignment.confirmed_plagiarism.size %></td>
              <td class="listing" style="text-decoration: underline;" onmouseover="Tip('Click to view groupings'); this.style.color='<%=highlightColor_link%>';" onmouseout="UnTip(); this.style.color='#333';" onclick="document.location = 'assignment_clustering_listing?assignment_id=<%=assignment.id%>'">View</td>
              <td class="listing" style="text-decoration: underline;" onmouseover="Tip('Click to view log'); this.style.color='<%=highlightColor_link%>';" onmouseout="UnTip(); this.style.color='#333';" onclick="document.location = 'assignment_create_log?assignment_id=<%=assignment.id%>'">View</td>
              <td class="listing" style="cursor: default;"><%= link_to 'Delete', {:action => 'assignment_delete', :assignment_id => assignment.id, :course_id => assignment.course_id}, :confirm => 'Are you sure?', :method => :delete, :class => 'listingItem', :onmouseover => "Tip('Click to delete this assignment');", :onmouseout => "UnTip();" %></td>
            </tr>
          <%  } %>
        </tbody>
      </table>
      <p/><div class="instruction">To view results for pairwise comparision of submissions, click the assignment</div>
    </fieldset>
  <% end %>
<% end %>
<hr />
<%=  link_to 'New Assignment', {:action => "assignment_new", :course_id => @course.id}, :class => "normalLink" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<% if @course.clusters > 0 %>
  <%= link_to 'View Visuals', {:action => "graph_view_assignments", :type => "course", :course_id => @course.id}, :class => "normalLink"%>
<% else %>
  <span style="color:gray; text-decoration: underline; cursor: default;" onmouseover="Tip('No plagiarism cluster detected');" onmouseout="UnTip();">View Visuals</span>
<% end %>
