<%
=begin
This file is part of SSID.

SSID is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SSID is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with SSID.  If not, see <http://www.gnu.org/licenses/>.
=end
%>

<%
studentHash = {}
studentArray = "("

for i in (0...@students.length)
  studentArray << "'"
  studentArray << @students[i].id.to_s
  studentArray << "'"
  studentArray << ((i < @students.length - 1)?",":"")
  studentHash[@students[i].matric] = true
end
studentArray << ")"
groupCount = 0
%>
          <div class="breadcrumb"><%= link_to "My Modules", {:action => "course_listing"}, :class => "breadcrumbItem" %> > <%= link_to @course.code, {:action => "assignment_listing", :course_id => @course.id}, :class => "breadcrumbItem" %> > <%= link_to "Visuals", {:action => "graph_view_movement", :course_id => @course.id}, :class => "breadcrumbItem" %> > Member movement</div>
          <h2 style="padding-top: 10px;"><%= @course.code  %>: <%= @course.name %></h2>
      <li>Student matric in <label style="color: red;">red</label> denotes the student is found guilty in plagiarism for the assignment</li>
      <li>To <span style="background-color: #C2DCFC;">mark</span> / unmark a student, click the student matric</li>
      <li>To show / hide plagiarism cluster, click the show / hide link next to the plagiarism cluster</li>
      <li><span style="background-color: #C2DCFC;">Marked entries</span> are highlighted in blue. Selected members are marked by default</li>
      <p/>
      <%
      assignments = []
      @course.assignments.each { |assignment|
        assignments << assignment if assignment.clusterings.length > 0
      }

      assignments.each { |assignment|

        sql_query = "SELECT DISTINCT acs.* FROM assignment_clusterings as acs, assignment_clusters as clusters, assignment_cluster_members as members, assignment_codes as codes WHERE acs.assignment_id = ? AND acs.id = clusters.assignment_clustering_id AND clusters.id = members.assignment_cluster_id AND codes.id = members.assignment_code_id AND codes.student_id IN "
        sql_query << studentArray
        sql_query << " ORDER BY acs.coc DESC"
        clusterings = AssignmentClustering.find_by_sql([sql_query, assignment.id])

      %>
        <table width="100%" border="1" cellpadding="5" class="assignments">
          <col width="100"/>
          <col width="*"/>
          <tr>
            <th class="assignments" align="left">Assignment</th>
            <th class="assignments" align="left" colspan="<%=clusterings.length%>"><%=assignment.title%></th>
          </tr>

          <tr>
            <th class="assignments" align="left">Cut off criterion</th>
            <% clusterings.each { |clustering| %>
              <td class="assignments"><%= clustering.coc.to_s + "%"%></td>
            <% }
            if clusterings.size == 0 %>
              <td class="assignments" rowspan="2" style="margin-right: 5px;">No grouping is available</td>
            <% end %>
          </tr>
          <tr>
            <th class="assignments" align="left" valign="top">Plagiarism Clusters</th>
            <% clusterings.each { |clustering| %>
              <td class="assignments" valign="top" style="white-space:nowrap;">
                <%
                sql_query = "SELECT DISTINCT clusters.* FROM assignment_clusters as clusters, assignment_cluster_members as members, assignment_codes as codes WHERE clusters.assignment_clustering_id = ? AND clusters.id = members.assignment_cluster_id AND codes.id = members.assignment_code_id AND codes.student_id IN "
                sql_query << studentArray
                clusters = AssignmentCluster.find_by_sql([sql_query, clustering.id])
                for i in (0...clusters.length)
                  cluster = clusters[i]
                  codes = cluster.assignment_codes
                %>
                  <div id="g<%=groupCount%>" class="groupDiv">
                    <table cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="students" style="white-space: nowrap; width: 100%">
                          <script type="text/javascript">
                            gDiv['g<%=groupCount%>'] = "<table cellpadding='0' cellspacing='0'><tr><td style='white-space: nowrap; width: 100%;'><div class='gShow'><%=codes.size%> member<%= "s" if codes.size > 1%></div></td><td style='white-space: nowrap; vertical-align:top; width: 1px;'><sub><a href=\"\" style='text-decoration: none;' onclick=\"toggleGroup('g<%= groupCount %>'); return false;\" onmouseover=\"Tip('Click to show this plagiarism cluster');\" onmouseout=\"UnTip();\" >[show]</a></sub></td></tr></table>";
                          </script>
                          <%
                          codes.each { |code|
                            coderId = code.student.matric
                          %>
                            <div style="<%= "color: red;" if (code.plagiarism)  %>" class="c<%=h coderId%>" onclick="lockDiv('c<%=coderId%>'); onmouseout(); onmouseover();" onmouseover="showMsg('<%=coderId%>'); highlightDiv('c<%=coderId%>');" onmouseout="UnTip(); normalDiv('c<%=coderId%>');"><%=coderId%></div>
                          <%
                          }
                        %>
                        </td>
                        <td class="hideShow" style="white-space: nowrap; vertical-align:top; width: 1px"><sub><a href="" style="text-decoration: none;" onclick="toggleGroup('g<%= groupCount  %>'); return false;" onmouseover="Tip('Click to hide this plagiarism cluster');" onmouseout="UnTip();">[hide]</a></sub></td>
                      </tr>
                    </table>
                  </div>
                  <% groupCount += 1 %>
                  <%="<hr />" if (i < clusters.length - 1)%>
                <%
                end
              %>
              </td>
            <% } %>
          </tr>
        </table>
        <p />
      <%
      }
    %>
      <script typ="text/javascript">
    <%
    studentHash.keys.each { |coderId|
    %>
        lockDiv('c<%=coderId%>');
    <%
    }
  %>

      </script>
