<%
=begin
This file is part of SSID.

SSID is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SSID is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with SSID.  If not, see <http://www.gnu.org/licenses/>.
=end
%>

<%
assignments = @course.assignments
valid_asrs = {}

assignments.each() { |assignment|
  sql_query = "SELECT asr.* FROM assignment_sim_results as asr, assignment_codes as ac WHERE asr.assignment_id = ? AND ac.student_id = ? AND (asr.id1 = ac.id OR asr.id2 = ac.id) ORDER BY asr.sim DESC LIMIT ?"
  asrs = AssignmentSimResult.find_by_sql([sql_query, assignment.id, @student.id, @k])
  valid_asrs[assignment.id] = asrs
}

@legendTable = ""

def genLegendText(sim)
  "<tr valign='center'><td><div style='#{genLegendHeight(sim)} vertical-align: middle; overflow: hidden; display:inline-block; position: relative;top: 0px;left: 0px;background-color: #{get_color(sim)};width:100px;'>&nbsp;</div><div style='vertical-align: middle; display: inline-block; position: relative;left: 5px;top: 0px;color: black;'>&ge; #{sim}%</div></td></tr>"
end

def genLegendHeight(sim)
  "height: 20px;"
end

def genLegend()

  @legendTable if @legendTable.length > 0
  text = "<table cellpadding='1' cellspacing='1' style='border-style:solid; border-width:thin; border-color:black; table-layout:fixed;' width=100" + "%" + "><col width='150'/><tr><th>Similarity</th></tr>"

  [90, 80, 70, 60, 50].each { |i|
    text << genLegendText(i)
  }

  text << "<tr valign='center'><td><div style='#{genLegendHeight(49)} vertical-align: middle; overflow: hidden; display:inline-block; position: relative;top: 0px;left: 0px;background-color: #{get_color(49)};width:100px;'>&nbsp;</div><div style='vertical-align: middle; display: inline-block; position: relative;left: 5px;top: 0px;color: black;'>< 50%</div></td></tr>"

  text << "</table>"

  @legendTable = text
end

%>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= @course.code  %>: <%= @course.name %></title>
    <%= stylesheet_link_tag 'scaffold', 'pds' %>
    <style type="text/css">
      table.assignments {
        border-collapse: collapse;
        table-layout:fixed;
      }
      th.assignments {
        padding: 3px 10px 3px 10px;
        margin-right: 3px;
        text-align: left;
        font-weight: bold;
        /*color: #333;*/
        color: white;
        background: transparent;
        background-color: #E7860D;
        border: 1px solid black;
        font-size: medium;
      }
      td.assignments {
        padding: 3px 10px 3px 10px;
        margin-right: 3px;
        text-align: left;
        /*color: #333;*/
        background: transparent;
        border: 1px solid black;
        font-size: medium;
      }
    </style>
    <script type="text/javascript" src="../javascripts/support.js"></script>
    <script type="text/javascript">
      //maximize();
    </script>
  </head>

  <body id="body" style="height: 100%; margin: 0px;">
    <script type="text/javascript" src="../javascripts/wz_tooltip.js"></script>
    <table style="padding: 5px; width: 100%; height: 100%; " cellpadding="0" cellspacing="0">
      <tr style="height: 90px;">
        <td style="">
          <table style="height:100%; width: 100%;" cellpadding="3" cellspacing="0" border="0">
            <tr class="welcome">
              <td class="welcome">Student Submissions Integrity Diagnosis (SSID) System</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="topMenu">
          <table>
            <tr>
              <td class="topMenuItem"><%=link_to 'Home', {:action => 'announcement'},  :class => 'topMenuItem' %></td>
              <td class="topMenuItem"><%=link_to 'My Modules', {:action => 'course_listing'},  :class => 'topMenuItem' %></td>
              <td class="topMenuItem"><%=link_to 'My Profile', {:action => 'account_edit'},  :class => 'topMenuItem'  %></td>
              <td class="topMenuItem"><%= link_to 'User Guide', {:action => 'guide'},  :class => 'topMenuItem' %></td>
              <td class="topMenuItem"><%= link_to 'Log Out', {:controller => 'login', :action => 'logout'},  :class => 'topMenuItem'  %></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr style="height: 100%;">
        <td style="padding-left: 10px; vertical-align: top;">
          <div class="breadcrumb"><%= link_to "My Modules", {:action => "course_listing"}, :class => "breadcrumbItem" %> > <%= link_to @course.code, {:action => "assignment_listing", :course_id => @course.id}, :class => "breadcrumbItem" %> > <%= link_to "Visuals", {:action => "graph_view_iTopK", :course_id => @course.id}, :class => "breadcrumbItem" %> > Top similarities</div>
          <h2 style="padding-top: 10px;">Top <%=@k%> similar submission<%="s" if @k > 1%> to student <%=@student.matric%></h2>
      <li>Student matric in <label style="color: red;">red</label> denotes the student is found guilty in plagiarism for the assignment</li>
      <li>To view code comparison between a student and student <%=@student.matric%>, click the student matric</li>
      <p/>
      <table class="assignments" width="100%" style="table-layout:fixed;" border="1" cellpadding="5">
        <col width="150" />
        <col width="*" />
        <col width="200" />
        <tr class="assignments">
          <th class="assignments">Assignments</th>
          <th class="assignments">Similarity (in decreasing order)</th>
          <td class="assignments" style="text-align: center; vertical-align:top; border-width: 0px;" rowspan="<%= assignments.length + 1 %>"><%= genLegend%></td>
        </tr>

        <%
        assignment_length = assignments.length
        for i in (0...assignment_length)
          assignment = assignments[i]
          text = assignment.title
        %>
          <tr class="assignments">
            <td class="assignments" valign="center" align="center"><%=text%></td>
            <td class="assignments" valign="center" style="padding-top: 10px; padding-bottom: 10px; white-space:nowrap;">
              <table border="0" cellpadding="0" cellspacing="0" style="position:relative; top:0px; left:0px;">
                <%
                valid_asrs[assignment.id].each { |asr|
                  #sims[asr.code2.coder_id] = asr.sim2To1 if (asr.code1.student_id == @student.id)
                  #sims[asr.code1.coder_id] = asr.sim1To2 if (asr.code2.student_id == @student.id)
                  width = 4.5 * asr.sim
                %>
                  <tr>
                    <td style="white-space:nowrap;">
                      <div style="margin: 2px 0px 2px 2px; vertical-align:middle; display:inline-block; position: relative;top: 0px;left: 0px;background-color: <%=get_color(asr.sim)%>;width:<%=width%>px;">&nbsp;</div>
                      <%
                      targetCode =
                        if asr.code1.student == @student then
                        asr.code2
                      else
                        asr.code1
                      end
                      targetStudent = targetCode.student
                    %>
                      <div style="margin: 2px 2px; vertical-align: middle; display: inline-block; position: relative;left: 5px;top: 0px;color: #000000;"><a href="graph_sim_result_html_view?assignment_sim_result_id=<%=asr.id%>&matric=<%=@student.matric%>&k=<%=@k%>" onmouseover="this.style.backgroundColor='white'" style="text-decoration: none; color: <%= if targetCode.plagiarism then "red" else "black" end %>"><%= targetStudent.matric %></a><%=" (" + asr.sim.to_s + "%)"%></div>
                    </td>
                  </tr>
                <%
                }

                if valid_asrs[assignment.id].size == 0
                %>
                  <tr>
                    <td style="white-space: nowrap;">
                      Student submission not found. (Possible reason: student did not submit work.)
                    </td>
                  </tr>
                <%
                end
              %>
              </table>
            </td>
          </tr>
        <%end%>
      </table>
    </td>
  </tr>
</table>
</body>
</html>