<% content_for :head do %>
  <%= javascript_include_tag "site_modal.js" %>
  <%= javascript_include_tag "prettify/prettify.js" %>
  <%= stylesheet_link_tag "prettify/prettify.css" %>
<% end %>
<%= render :template => 'layouts/pdf_report' %>

<% @submission_similarity_ids.each do |id|%>
  <% 
  @submission_similarity = SubmissionSimilarity.find(id)
  @submission1 = @submission_similarity.submission1
  @submission2 = @submission_similarity.submission2
  @student1 = @submission1.student
  @student2 = @submission2.student
  %>

  <h4>Submission Similarities for Students <%= @submission_similarity.student1.id_string %> and <%= @submission_similarity.student2.id_string %> (<%= @submission_similarity.similarity %>%)</h4>
  <div class="submission_similarity_header">

    <div class="table-container mt-3">
      <table id="matchingStatementsTable" class="table">
        <thead>
          <tr>
            <th class="lines_col">Submission by <%= @student1.id_string %></th>
            <th class="lines_col">Submission by <%= @student2.id_string %></th>
            <th>Num of Matching Statements</th>
          </tr>
        </thead>
        <tbody>
          <% @submission_similarity.similarity_mappings.sort_by { |m| m.start_line1 }.each { |mapping| %>
          <tr>
            <td>Lines <%= mapping.line_range1_string %></td>
            <td>Lines <%= mapping.line_range2_string %></td>
            <td class="num_statements_cell"><%= mapping.statement_count %></td>
            <%= hidden_field_tag "skeleton_lines", mapping.submission_similarity_skeleton_mappings.collect { |s_mapping| 
              s_mapping.start_line1.to_s + "_" + s_mapping.end_line1.to_s + "_" + s_mapping.start_line2.to_s + "_" + s_mapping.end_line2.to_s
            }, { :class => "skeleton-lines" } 
            %>
          </tr>
          <% } %>
        </tbody>
      </table>   
    </div>
  </div>

  <div class="submissions">
    <div class="submission1">
      <h5>Submission by <%= @student1.id_string %></h5>
      <pre class="prettyprint linenums <%= @assignment.prettify_js_lang %>">
      <% @submission1.lines.each { |line| %>
        <%= line %>
      <% } %>
      </pre>
    </div>
    <div class="submission2">
      <h5>Submission by <%= @student2.id_string %></h5>
      <pre class="prettyprint linenums <%= @assignment.prettify_js_lang %>">
      <% @submission2.lines.each { |line| %>
        <%= line %>
      <% } %>
      </pre>
    </div>
  </div>
  <div style="break-after:page"> </div>
<% end %>

<script type="text/javascript">
  window.print();
</script>
