<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Dialog - Modal form</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 600px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

  $( function() {
    dialog = $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 400,
      width: 600,
      modal: true,
      buttons: {
        Close: function() {
          dialog.dialog( "close" ) ;
        },
        'Copy the link': copy
      },
      close: function() {
        dialog.dialog( "close" );
      }
    });

    function copy() {
      console.log("here")
      var url = document.getElementById("tp");
      url.select();
      document.execCommand("copy");
      console.log(url)
    }
  });

  $(document).ready(function(){
    var isDialogDisplay = document.getElementById('isDialogDisplay').dataset.userId;
    console.log(isDialogDisplay)
    if (isDialogDisplay == 'true') {
      console.log(isDialogDisplay)
      dialog.dialog( "open" ); 
    };
  });

  function viewMultipairsReport() {
    var idsToPrint = [...document.querySelectorAll('.checkbox:checked')].map(e => e.value);

    var shouldNotObfuscate = document.getElementById('obfuscationToggle').checked;
    localStorage.setItem('shouldNotObfuscate', shouldNotObfuscate);

    var baseUrl = "view_printable_multiple?submission_similarity_ids="
    
    window.open(baseUrl + idsToPrint.join(","), '_blank').focus();
  }

  function handleHeaderCheckboxChange() {
    var headerCheckbox = document.querySelectorAll('.headerCheckbox')[0]; 

    document.querySelectorAll('.checkbox').forEach(x => x.checked = headerCheckbox.checked );  
  }

  </script>
</head>
<body>

<h4><%= @course.code %> Assignment: <%= @assignment.title %> Submission Similarities</h4>

<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<ul class="table_note">
  <li>Similarity values are not symmetric so we display both the maximum and average values in the table</li>
  <li>To analyze these similarities, <%= link_to "view", assignment_cluster_groups_url(@assignment) %> / <%= link_to "create", new_assignment_cluster_group_url(@assignment) %> submission cluster groups or <%= link_to "use the course visualizations", course_visualize_url(@course) %></li>
  <li>To allow non-SSID users to view and analyse the results, <%= link_to "create", guest_user_create_path(:id => @assignment) %> a sharable link </li> 
</ul>

<button type="button" class="btn btn-primary" onclick="viewMultipairsReport()")>Print Report for Selected</button>

<label>
  <input type="checkbox" id="obfuscationToggle"> Reveal Student Names
</label>

<p></p>
<table>
  <thead>
    <tr>
      <th class="action_col">        
       <%= check_box_tag nil, nil, false, class: "headerCheckbox", onclick: "handleHeaderCheckboxChange();" %>
      </th>
      <th class="student_col">Student 1</th>
      <th class="student_col">Student 2</th>
      <th class="similarity_col">Maximum Similarity</th>
      <th class="similarity_col">Average Similarity</th>
      <th>Remarks</th>
      <th class="action_col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @submission_similarities.each do |ss| %>
      <tr>
        <td><%= check_box_tag nil, ss.id, false, class: "checkbox" %></td>
        <td><%= link_to ss.student1.name, assignment_submission_log_url(@assignment, ss.submission1) %></td>
        <td><%= link_to ss.student2.name, assignment_submission_log_url(@assignment, ss.submission2) %></td>
        <td><%= ss.similarity %>%</td>
        <td><%= ss.average_similarity %>%</td>
        <td><%= ss.status_string.html_safe %></td>
        <td>
          <div class="dropdown">
            <a data-toggle="dropdown" id="submissionSimilaritiesDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <%= image_tag("more_vert_black_24dp.svg", alt: "Submission Similarities Menu Dropdown")%>                 
            </a>
            <ul class="dropdown-menu" aria-labelledby="submissionSimilaritiesDropdownMenuLink">
              <li><%= link_to "View Submissions", assignment_submission_similarity_url(@assignment, ss), class: "dropdown-item"%></li>
              <li><%= link_to "Print Report", assignment_submission_similarity_view_printable_url(@assignment, ss), target: "_blank", rel: "noreferrer noopener", class: "dropdown-item"%></li>
            </ul> 
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate(@submission_similarities, :renderer => SiteLinkRenderer) %>

<div id="isDialogDisplay" data-user-id="<%= @displayDialog %>"></div>

<div id="dialog-form" title="Create sharable link">
  <p> With the generated link below, non-SSID users would be able to view the submission similarites for this assignment. </p> 
  
  <input type="text" id="tp" value=<%= @hashed_url %>  class="text ui-widget-content ui-corner-all" size="70" readonly><br><br>


</div>
</body>
</html>
