<h2><%= @course.code %> Assignment: <%= @assignment.title %> Submission Similarities</h2>

<ul>
  <li>Similarity values are not symmetric so we display both the maximum and average values in the table</li>
  <li>To analyze these similarities, <%= link_to "view", assignment_cluster_groups_url(@assignment) %> / <%= link_to "create", new_assignment_cluster_group_url(@assignment) %> submission cluster groups or <%= link_to "use the course visualizations", course_visualize_url(@course) %></li>
</ul>

<table>
  <thead>
    <tr>
      <th class="student_col">Student 1</th>
      <th class="student_col">Student 2</th>
      <th class="similarity_col">Maximum Similarity</th>
      <th class="similarity_col">Average Similarity</th>
      <th>Remarks</th>
      <th class="action_col"></th>
    </tr>
  </thead>
  <tbody>
<% @submission_similarities.each do |ss| %>
  <tr>
    <td><%= ss.student1.id_string %></td>
    <td><%= ss.student2.id_string %></td>
    <td><%= ss.similarity %>%</td>
    <td><%= ss.average_similarity %>%</td>
    <td><%= ss.status_string.html_safe %></td>
    <td><%= link_to "View Submissions", assignment_submission_similarity_url(@assignment, ss) %></td>
  </tr>
<% end %>
  </tbody>
</table>

<%= will_paginate @submission_similarities %>
