<h4>Submission Similarities for Students <%= @submission_similarity.student1.name %> and <%= @submission_similarity.student2.name %> (<%= @submission_similarity.similarity %>%)</h4>
<div class="submission_similarity_header">
  <div>
    <%= link_to "Show matching statements", "#matchingStatementsTable", data: { "bs-toggle" => "collapse" }, :"aria-expanded" => "false", :"aria-controls" => "matchingStatementsTable", class: "d-inline pr-2" %>
    <div class="dropdown d-inline p-2">
      <a data-toggle="dropdown" id="actionsDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        <%= image_tag("more_vert_black_24dp.svg", alt: "Actions taken on submission similarities menu dropdown")%>                 
      </a>
      <ul class="dropdown-menu" aria-labelledby="actionsDropdownMenuLink">
        <% if @submission_similarity.status == SubmissionSimilarity::STATUS_NOT_PLAGIARISM %>
          <li>
            <%= button_tag "Confirm plagiarism", class: "dropdown-item", data: { "bs-toggle" => "modal", "bs-target" => "#confirmPlagiarismModal", "bs-url" => "#{assignment_submission_similarity_confirm_as_plagiarism_url(@assignment, @submission_similarity)}" } %>
          </li>
          <li>
            <%= button_tag "Mark as suspicious", class: "dropdown-item", data: { "bs-toggle" => "modal", "bs-target" => "#markAsSuspiciousModal", "bs-url" => "#{assignment_submission_similarity_suspect_as_plagiarism_url(@assignment, @submission_similarity)}" } %>
          </li>
        <% elsif @submission_similarity.status == SubmissionSimilarity::STATUS_SUSPECTED_AS_PLAGIARISM %>
          <li>
            <%= button_tag "Remove suspicion", class: "dropdown-item", data: { "bs-toggle" => "modal", "bs-target" => "#removeSuspicionModal", "bs-url" => "#{assignment_submission_similarity_unmark_as_plagiarism_url(@assignment, @submission_similarity)}" } %>
          </li>
          <li>
            <%= button_tag "Confirm plagiarism", class: "dropdown-item", data: { "bs-toggle" => "modal", "bs-target" => "#confirmPlagiarismModal", "bs-url" => "#{assignment_submission_similarity_confirm_as_plagiarism_url(@assignment, @submission_similarity)}" } %>
          </li>        
        <% elsif %>
          <li>
            <%= button_tag "Remove plagiarism", class: "dropdown-item", data: { "bs-toggle" => "modal", "bs-target" => "#removePlagiarismModal", "bs-url" => "#{assignment_submission_similarity_unmark_as_plagiarism_url(@assignment, @submission_similarity)}" } %>
          </li>        
        <% end %>      
      </ul>
    </div>
  </div>
  <div class="table-container mt-3">
    <table id="matchingStatementsTable" class="lines collapse show">
      <thead>
        <tr>
          <th class="lines_col">Submission by <%= @student1.name %></th>
          <th class="lines_col">Submission by <%= @student2.name %></th>
          <th>Num of Matching Statements</th>
          <th class="check_box_col"><%= check_box_tag nil, nil, false %></th>
        </tr>
      </thead>
      <tbody>
        <% @submission_similarity.similarity_mappings.sort_by { |m| m.start_line1 }.each { |mapping| %>
        <tr>
          <td>Lines <%= mapping.line_range1_string %></td>
          <td>Lines <%= mapping.line_range2_string %></td>
          <td class="num_statements_cell"><%= mapping.statement_count %></td>
          <td><%= check_box_tag nil, mapping.line_ranges_html_value, false, { :class => "checkbox" } %></td>
          <%= hidden_field_tag "skeleton_lines", mapping.submission_similarity_skeleton_mappings.collect { |s_mapping| 
            s_mapping.start_line1.to_s + "_" + s_mapping.end_line1.to_s + "_" + s_mapping.start_line2.to_s + "_" + s_mapping.end_line2.to_s
          }, { :class => "skeleton-lines" } 
          %>
        </tr>
        <% } %>
      </tbody>
    </table>   
  </div>
</div>

<% if @submission_similarity.status == SubmissionSimilarity::STATUS_CONFIRMED_AS_PLAGIARISM %>
<div>
  <p>These similarities were confirmed as plagiarism. Mark student(s) as guilty:</p>
  <p class="check_boxes">
    <label><%= check_box_tag "toggle_guilty_#{@submission_similarity.id}_#{@submission1.id}", nil, @submission1.is_plagiarism, class: "guilty_check_box" %> Student <%= @student1.name %></label>
    <label><%= check_box_tag "toggle_guilty_#{@submission_similarity.id}_#{@submission2.id}", nil, @submission2.is_plagiarism, class: "guilty_check_box" %> Student <%= @student2.name %></label>
  </p>
</div>
<% end %>

<% if @submission_similarity.status == SubmissionSimilarity::STATUS_SUSPECTED_AS_PLAGIARISM %>
<div>
  <p>These similarities were marked as suspicious.</p>
</div>
<% end %>

<div class="submissions">
  <div class="submissions-legend">
    <strong>Line colors</strong>
    <br>
    <ul>
      <li><%= image_tag("square_01.svg", size: "16", alt: "Skeleton code color")%> Skeleton code</li>
      <li><%= image_tag("square_02.svg", size: "16", alt: "Submission code color")%> Submission code</li>
    </ul>
  </div>
  <div class="submission1">
    <h5>Submission by <%= @student1.name %> (<%= link_to "Log", assignment_submission_log_url(@assignment, @submission1) %>)</h5>
    <pre class="prettyprint linenums <%= @assignment.prettify_js_lang %>">
    <% @submission1.lines.each { |line| %>
      <%= line %>
    <% } %>
    </pre>
  </div>
  <div class="submission2">
    <h5>Submission by <%= @student2.name %> (<%= link_to "Log", assignment_submission_log_url(@assignment, @submission2) %>)</h5>
    <pre class="prettyprint linenums <%= @assignment.prettify_js_lang %>">
    <% @submission2.lines.each { |line| %>
      <%= line %>
    <% } %>
    </pre>
  </div>
</div>

<div class="modal fade" id="confirmPlagiarismModal" tabindex="-1" role="dialog" aria-hidden="true">
  <% @modal = SiteModal.new("Confirm Plagiarism", "These similarities will be confirmed as plagiarism. Are you sure?", { :name => "OK", :method => :put }) %>
  <%= render partial: "site/modal", locals: { modal: @modal }%>
</div>

<div class="modal fade" id="markAsSuspiciousModal" tabindex="-1" role="dialog" aria-hidden="true">
  <% @modal = SiteModal.new("Mark as Suspicious", "These similarities will be marked as suspicious. Are you sure?", { :name => "OK", :method => :put }) %>
  <%= render partial: "site/modal", locals: { modal: @modal }%>
</div>

<div class="modal fade" id="removeSuspicionModal" tabindex="-1" role="dialog" aria-hidden="true">
  <% @modal = SiteModal.new("Remove suspicion", "The suspicion of plagiarism will be removed. Are you sure?", { :name => "OK", :method => :put }) %>
  <%= render partial: "site/modal", locals: { modal: @modal }%>
</div>

<div class="modal fade" id="removePlagiarismModal" tabindex="-1" role="dialog" aria-hidden="true">
  <% @modal = SiteModal.new("Remove plagiarism", "The confirmation of plagiarism will be removed. Are you sure?", { :name => "OK", :method => :put }) %>
  <%= render partial: "site/modal", locals: { modal: @modal }%>  
</div>

<%= javascript_include_tag "site_modal.js" %>