<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div>
      <h6 class="error_title"><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h6>
      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-12">
      <%= f.label :code, class: "form-label" %>
      <%= f.text_field :code, class: "form-control" %>
    </div>
    <div class="col-12">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="col-sm-6">
      <%= f.label :academic_year, class: "form-label" %>
      <%= f.select :academic_year, Course.options_for_academic_year, {}, { :class => 'form-select' } %>
    </div>
    <div class="col-sm-6">
      <%= f.label :semester, class: "form-label" %>
      <%= f.select :semester, [1, 2], {}, { :class => 'form-select' } %>
    </div>
    <div class="col-12">
      <%= f.label :expiry, class: "form-label" %>
      <%= f.datetime_field :expiry, class: "form-control" %>
    </div>
    <div class="col-12">
      <%= f.submit class: "submit" %>
    </div>
  </div>
<% end %>

