<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h3>
      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :code %>:
    <%= f.text_field :code %>
  </div>
  <div>
    <%= f.label :name %>:
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :academic_year %>:
    <%= f.select :academic_year, Course.options_for_academic_year %>
  </div>
  <div>
    <%= f.label :semester %>:
    <%= f.select :semester, [1, 2] %>
  </div>
  <div>
    <%= f.label :expiry %>:
    <%= f.datetime_select :expiry, default: (@course.expiry ? @course.expiry.in_time_zone : 1.year.from_now.in_time_zone) %>
  </div>
  <div>
    <%= f.submit class: "submit" %>
  </div>
<% end %>

