<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "submit" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
