<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "Courses", courses_path %></li> 
  <% if controller_name == "courses" %>
    <% if action_name == "new" or action_name == "create" %>
      <li class="breadcrumb-item">New Course</li>
    <% elsif action_name == "edit" or action_name == "update" %>
      <li class="breadcrumb-item">Edit Course</li>
    <% end %>
  <% elsif controller_name == "users" and action_name == "index" %>
      <li class="breadcrumb-item"><%= link_to "#{course.code} Users", course_users_url(course) %></li>
  <% elsif controller_name == "visualize" %>
      <li class="breadcrumb-item"><%= link_to "#{course.code} Visualizations", course_visualize_url(course) %></li>
    <% if action_name != "index" %>
      <li class="breadcrumb-item"><%= action_name.humanize.titleize %></li>
    <% end %>
  <% elsif course  %>
    <li class="breadcrumb-item"><%= link_to "#{course.code} Assignments", course_assignments_url(course) %></li>
  <% end %>
  <% if assignment %>
    <% if controller_name == "assignments" %>
      <% if action_name == "new" or action_name == "create" %>
        <li class="breadcrumb-item">New Assignment</li>
      <% elsif action_name == "edit" or action_name == "update" %>
        <li class="breadcrumb-item">Edit Assignment</li>
      <% elsif action_name == "show_log" %>
        <li class="breadcrumb-item"><%= %Q{Assignment: #{assignment.title} Upload Log} %></li>
      <% end %>
    <% elsif controller_name == "submission_similarities" %>
      <li class="breadcrumb-item"><%= link_to %Q{Assignment: #{assignment.title} Submission Similarities}, assignment_submission_similarities_url(assignment) %></li>
      <% if action_name == "show" %>
      <li class="breadcrumb-item">Submissions from Student <%= submission_similarity.student1.name %> and <%= submission_similarity.student2.name %></li>
      <% end %>
    <% elsif controller_name == "submission_logs" %>
      <li class="breadcrumb-item"><%= %Q{Assignment: #{assignment.title} Submission Log for Student #{submission.student_name}} %></li>
    <% end %>
  <% end %>
  <% if controller_name == "submission_cluster_groups" or controller_name == "submission_clusters" %>
    <li class="breadcrumb-item"><%= link_to "Assignment: #{assignment.title} Submission Cluster Groups", assignment_cluster_groups_url(@assignment) %></li>
    <% if action_name == "new" or action_name == "create" %>
      <li class="breadcrumb-item">New Submission Cluster Group</li>
    <% end %>
  <% end %>
  <% if controller_name == "submission_clusters" %>
    <li class="breadcrumb-item">Cluster Group (Cut-Off Criterion = <%= @submission_cluster_group.cut_off_criterion %>%)</li>
  <% end %>
</ol>
