<div class="breadcrumb">
  <%= link_to "Courses", courses_path %> 

  <% if course  %>
    &gt; <%= link_to "#{course.code} Assignments", course_assignments_url(course) %>
  <% end %>
  <% if assignment %>
    <% if controller_name == "assignments" %>
      <% if action_name == "new" or action_name == "create" %>
        &gt; New Assignment
      <% elsif action_name == "edit" or action_name == "update" %>
        &gt; Edit Assignment
      <% elsif action_name == "show_log" %>
        &gt; <%= %Q{Assignment: #{assignment.title} Upload Log} %>
      <% end %>
    <% end %>
  <% end %>
  <% if controller_name == "submission_cluster_groups" or controller_name == "submission_clusters" %>
    &gt; <%= link_to "Assignment: #{assignment.title} Submission Cluster Groups", assignment_cluster_groups_url(@assignment) %> 
    <% if action_name == "new" or action_name == "create" %>
      &gt; New Submission Cluster Group
    <% end %>
  <% end %>
  <% if controller_name == "submission_clusters" %>
    &gt; Cluster Group (Cut-Off Criterion = <%= @submission_cluster_group.cut_off_criterion %>%)
  <% end %>
</div>
