<%= form_for([:admin, @the_user]) do |f| %>
  <% if @the_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@the_user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @the_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @course %>
    <div>
      <p>If SSID has an existing user with the provided ID, SSID will add that user to the course with the specified role but ignore all the other fields in this form.</p>
    </div>
  <% end %>
  <div>
    <%= f.label :full_name %>:
    <%= f.text_field :full_name %>
  </div>
  <% if @course %>
    <div>
      <%= hidden_field_tag :user_course_id, @course.id, name: "user[course_id]" %>
      <%= f.label :id_string, "ID" %>:
      <%= f.text_field :id_string %>
    </div>
    <div>
      <%= f.label :course_role %>:
      <%= select_tag "user_course_role", options_for_select(UserCourseMembership.options_for_non_student_roles), name: "user[course_role]" %>
    </div>
  <% end %>
  <div>
    <%= f.label :name, "Login" %>:
    <%= f.text_field :name %>
  </div>
  <% if action_name == "new" || action_name == "create" %>
    <div>
      <%= f.label :password %>:
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.label :confirm_password %>:
      <%= f.password_field :confirm_password %>
    </div>
  <% end %>
  <div>
    <% if @course.nil? %>
      <%= f.submit "Create Admin User", class: "submit" %>
    <% else %>
      <%= f.submit "Add #{@course.code} User", class: "submit" %>
    <% end %>
  </div>
<% end %>
