<h2>Users</h2>
<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<h3>Admins</h3>

<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th class="id_col">Login</th>
      <th class="actions_col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each { |admin| %>
      <tr>
        <td><%= admin.full_name || "--" %><%= " <em>(This is you)</em>".html_safe if @user == admin %></td>
        <td><%= admin.name %></td>
        <% if admin == @user %>
          <td><%= link_to "Settings", edit_user_url(@user), class: "last" %></td>
        <% else %>
          <td><%= link_to "Edit", edit_admin_user_url(admin) %> <%= link_to "Delete", admin_user_url(admin), method: "delete", confirm: "Delete admin?", class: "last" %></td>
        <% end %>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="new_user"><%= link_to "New Admin", new_admin_user_url %></div>

<% @courses.each { |course| %>
  <hr />

  <h3><%= course.code %> <%= course.name %></h3>

  <table>
    <thead>
      <tr>
        <th>Full Name</th>
        <th class="id_col">Login</th>
        <th class="id_col">ID</th>
        <th class="role_col">Role</th>
        <th class="actions_col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% (@staff[course.id] + @teaching_assistants[course.id] + @students[course.id]).each { |user| %>
        <tr>
          <td><%= user.full_name || "--" %></td>
          <td><%= user.name %></td>
          <td><%= user.id_string %></td>
          <td><%= course.role_string_for_user(user) %></td>
          <% if course.membership_for_user(user).role == UserCourseMembership::ROLE_STUDENT %>
            <td><%= link_to "Edit", edit_admin_user_url(user)+"?course_id=#{course.id}" %></td>
          <% else %>
            <td><%= link_to "Edit", edit_admin_user_url(user)+"?course_id=#{course.id}" %> <%= link_to "Remove", admin_user_url(user)+"?course_id=#{course.id}", method: "delete", confirm: "Remove user from course?", class: "last" %></td>
          <% end %>
        </tr>
      <% } %>
    </tbody>
  </table>

  <div class="new_user"><%= link_to "Add #{course.code} User", new_admin_user_url+"?course_id=#{course.id}" %></div>
<% } %>

<% unless @loners.empty? %>
  <hr />

  <h3>Users With No Course Membership</h3>

  <table>
    <thead>
      <tr>
        <th>Full Name</th>
        <th class="id_col">Login</th>
        <th class="id_col">ID</th>
        <th class="actions_col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @loners.each { |user| %>
        <tr>
          <td><%= user.full_name || "--" %></td>
          <td><%= user.name %></td>
          <td><%= user.id_string %></td>
          <td><%= link_to "Edit", edit_admin_user_url(user) %> <%= link_to "Delete", admin_user_url(user), method: "delete", confirm: "Delete user?", class: "last" %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
<% end %>
