<div class="submission_cluster_group_header">
<h4>Assignment: <%= @assignment.title %> Submission Cluster Groups</h4>
<div class="actions">
  <%= link_to image_tag("add_circle_outline_blue_24dp.svg", size: "28", alt: "New Cluster Group"), new_assignment_cluster_group_url(@assignment), { "data-toggle" => "tooltip", "data-placement" => "bottom", "title" => "New Cluster Group" } %>
</div>
</div>
<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if @cluster_groups.empty? %>
  <p class="none_created">No cluster group has been created.<br />
  Cluster groups allow you to identify clusters of students with submission similarity values above a defined threshold.</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Cut-Off Criterion</th>
        <th>Number of Clusters</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @cluster_groups.each { |cluster_group| %>
        <tr>
          <td><%= cluster_group.cut_off_criterion %></td>
          <td><%= cluster_group.clusters.size %></td>
          <td>[Created on <%= cluster_group.created_at.in_time_zone %>] <%= cluster_group.description %></td>
          <td>
            <div class="dropdown">
              <a data-toggle="dropdown" id="clusterGroupDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <%= image_tag("more_vert_black_24dp.svg", alt: "Cluster Group Dropdown Menu Link")%>
              </a>
              <ul class="dropdown-menu">
                <!-- <li><%= link_to "View Clusters", cluster_group_clusters_url(cluster_group), class: "dropdown-item" %></li> -->
                <li>
                  <%= button_tag "Delete", class: "dropdown-item", data: { "bs-toggle" => "modal", "bs-target" => "#deleteClusterGroupModal", 'bs-url' => "#{assignment_cluster_group_url(@assignment, cluster_group)}" } %>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>

  <div class="modal fade" id="deleteClusterGroupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <% @modal = SiteModal.new("Delete Cluster Group", "This cluster group will be permanently deleted and cannot be recovered. Are you sure?", { :name => "OK", :method => :delete }) %>
    <%= render partial: "site/modal", locals: { modal: @modal }%>
  </div>
<% end %>

<%= javascript_include_tag("site_modal.js") %>
