<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if session[:user_id] %>
      <%= link_to 'Guide', guide_path %>
      <%= link_to 'Announcements', guide_path %>
      <%= link_to 'Courses', guide_path %>
      <% if @user.is_admin %>
        <%= link_to 'Users', admin_users_path %>
      <% end %>
        <%= link_to 'Logout', logout_path, :method => :delete %>
      <% end %> 
    </div>

    <%= yield %>
  </body>
</html>
