<%#
This file is part of SSID.
SSID is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
SSID is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.
You should have received a copy of the GNU Lesser General Public License
along with SSID.  If not, see <http://www.gnu.org/licenses/>.
%>
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Submissions Integrity Diagnosis (SSID) System</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= controller_name %>_<%= action_name %>">
  <%= javascript_tag "if (window.#{controller_name.singularize.camelize} && #{controller_name.singularize.camelize}.onLoad) { #{controller_name.singularize.camelize}.onLoad(); };" %>
  <header class="site_header">
    <div class="container d-flex flex-row w-100">
      <% unless user_signed_in?%>
        <div class="w-20">
          <%= image_tag("logo.png", height: "100", width: "150", alt: "NUS logo", class: "site_logo")%>
        </div>
        <h3 id="site-banner-login">Student Submissions Integrity Diagnosis System</h3>
        <div class="site-login w-20">
          <ul id="menu" <%= %Q{ class="admin"}.html_safe if user_signed_in? and current_user.is_admin %>>
            <li <%= highlight_if_current new_user_session_path %>><%= link_to "Login", new_user_session_path %></li>
            <li <%= highlight_if_current new_user_registration_path %>><%= link_to "Sign Up", new_user_registration_path%></li>
          </ul>
        </div>
      <% else %> 
        <h3 id="site_banner">SSID</h3>  
        <ul id="menu" <%= %Q{ class="admin"}.html_safe if user_signed_in? and current_user.is_admin %>>
          <% if user_signed_in? %>
            <li <%= highlight_if_current root_url %>><%= link_to "Home", root_url %></li>
            <li <%= highlight_if_current courses_url %>><%= link_to "Courses", courses_url %></li>
            <% if current_user.is_admin %>
              <li <%= highlight_if_current admin_users_url %>><%= link_to "Users", admin_users_url %></li>
            <% end %>
            <% if current_user.is_admin || (@membership.present? && @membership.role != 3) %>
              <li <%= highlight_if_current edit_user_url(current_user) %>><%= link_to "Settings", edit_user_url(current_user) %></li>
            <% end %>
            <li <%= highlight_if_current guide_url %>><%= link_to "User Guide", guide_url %></li>
            <li <%= highlight_if_current logout_url %>><%= link_to "Log Out", destroy_user_session_url, :method => :delete, confirm: "Log out of SSID?" %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </header>

  <main class="container">
    <div id="content">
      <%= render partial: "site/breadcrumb", locals: { course: @course, assignment: @assignment, submission: @submission, submission_similarity: @submission_similarity } unless @course.nil? or controller_path == "admin/users" %>
      <%= yield :pre_content %>
      <%= yield %>
    </div>
  </main>
</body>
</html>