<div class="site-cover">
  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>  
  <div class="site-introduction">
    <p class="site-motto text-dark">Empowering the next generations of programmers.</p>
    <div class="site-clip">
      <iframe src="https://www.youtube.com/embed/6FCHKCHno44" allowfullscreen></iframe>
    </div>
  </div>
  <div class="w-100">
    <p><strong>Join our community of satisfied instructors</strong></p>
  </div>
  <div class="site-features-wrapper">
    <div class="site-statistics">
      <p>
        <%= image_tag("people_black_24dp.svg", size: "36", alt: "Users")%> <strong>50+</strong> users
      </p>
      <p>
        <%= image_tag("assignment_black_24dp.svg", size: "36", alt: "Users")%> <strong>300+</strong> assignments
      </p>
    </div>
    <div class="site-features">
      <p><%= image_tag("done_24dp.svg", size: "20", alt: "site feature") %> Advanced algorithms</p>
      <p><%= image_tag("done_24dp.svg", size: "20", alt: "site feature") %> Seamless integrations</p>
      <p><%= image_tag("done_24dp.svg", size: "20", alt: "site feature") %> Interactive results</p>
      <p><%= image_tag("done_24dp.svg", size: "20", alt: "site feature") %> Downloadable reports</p>
    </div>
  </div>
  <hr>
  <div class="site-footer">
    <span>&copy; <%= ApplicationHelper::COPYRIGHT_DATE_RANGE %> WING NUS</span>
    <ul>
      <li><%= link_to "About Us", "https://wing.comp.nus.edu.sg", target: "_blank" %> | </li>
      <li><%= link_to "Contact", "https://github.com/WING-NUS/SSID#contact", target: "_blank" %> | </li>
      <li><%= link_to "GitHub", "https://github.com/WING-NUS/SSID", target: "_blank" %></li>
    </ul>

  </div>
</div>