<div class="site-cover">
  <div class="site-introduction">
    <p class="site-motto text-dark">Empowering the next generations of programmers.</p>
    <div class="site-clip">
      <iframe src="https://www.youtube.com/embed/6FCHKCHno44" allowfullscreen></iframe>
    </div>
  </div>
  <div class="w-100">
    <p><strong>Some text goes here ...  </strong></p>
  </div>
  <div class="site-features-wrapper">
    <div class="site-statistics">
      <p>
        <%= image_tag("people_black_24dp.svg", size: "36", alt: "Users")%> <strong>50+</strong> users
      </p>
      <p>
        <%= image_tag("assignment_black_24dp.svg", size: "36", alt: "Users")%> <strong>300+</strong> assignments
      </p>
    </div>
    <div class="site-features">
      <p><%= image_tag("done_24dp.svg", size: "20", alt: "site feature") %> Advanced algorithms</p>
      <p><%= image_tag("done_24dp.svg", size: "20", alt: "site feature") %> Seamless integrations</p>
      <p><%= image_tag("done_24dp.svg", size: "20", alt: "site feature") %> Interactive results</p>
      <p><%= image_tag("done_24dp.svg", size: "20", alt: "site feature") %> Downloadable reports</p>
    </div>
  </div>
  <hr>
  <div class="site-footer">
    <span>&copy; 2009–2021 WING NUS</span>
    <ul>
      <li>About Us | </li>
      <li>Contact | </li>
      <li><%= link_to "GitHub", "https://github.com/WING-NUS/SSID" %></li>
    </ul>

  </div>
</div>