<%
=begin
This file is part of SSID.

SSID is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SSID is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with SSID.  If not, see <http://www.gnu.org/licenses/>.
=end
%>

<html style="height: 100%;">
  <head>
    <title><%=system%></title>
    <%= stylesheet_link_tag 'scaffold', 'pds' %>
    <style type="text/css">
      table.main {
        width: 100%;
        table-layout:fixed;
        border-collapse: collapse;
      }

      a.graphMenu {
        color: black;
        background-color: transparent;
      }

      a.graphMenu:hover {
        color: #FF6C00;
      }

      tr.main {
      }

      td.leftColumn {
        white-space: nowrap;
        padding: 3px;
        border: 1px solid black;
        width: 170px;
      }
      td.rightColumn {
        padding: 3px;
        border: 1px solid black;
        width: auto;
      }
      dt {
        color: navy;
        font-weight: bold;
        font-style:italic;
      }
      dd {
        margin-left: 10px;
        margin-right: 10px;
        white-space: nowrap;
      }
      .margined {
        margin-left: 10px;
        margin-right: 10px;
      }
      select {
        margin-left: 10px;
        margin-right: 10px;
      }
    </style>

    <%= javascript_include_tag "graphSelection.js" %>
    <script type="text/javascript">
      var assignments = new Array();
<% 
clusterings = []
assignment_count = 0
@course.assignments.each { |assignment|
%>
    assignments[<%=assignment_count%>] = new Array();
  <%
  clustering_count = 0
  assignment.clusterings.each { |clustering| %>
      assignments[<%=assignment_count%>][<%=clustering_count%>] = '<%=clustering.id%>';
    <%
    clusterings << clustering
    clustering_count = clustering_count + 1
  }
  assignment_count += 1
}
%>

  var clusteringsLimit = new Array();
  var clusterings = new Array();
<%
clusters = []
clusterings.each { |clustering|
%>
    clusteringsLimit['<%=clustering.id%>'] = '<%=clustering.coc.to_s + "%" %>';
    clusterings['<%=clustering.id%>'] = new Array();
  <%
  cluster_count = 0
  clustering.assignment_clusters.each { |cluster| %>
      clusterings['<%=clustering.id%>'][<%=cluster_count%>] = '<%=cluster.id%>';
    <%
    clusters << cluster
    cluster_count = cluster_count + 1
  }
}
%>
  var coders = new Array();
<%
clusters.each { |cluster|
  ids = []
  cluster.assignment_codes.each { |code|
    ids << code.student.matric
  }

  text = ""
  for i in (0...ids.size)
    text << ids[i]
    text << ", " if i < ids.size - 1
  end
%>
    coders['<%=cluster.id%>'] = '<%= text %>';
<%
}

if @allCoders
%>

    var allCoders = []
  <%
  count = 0
  @allCoders.each { |i|
  %>
      allCoders[<%=count%>] = "<%=i%>"
    <%
    count += 1
  }
end
%>


    </script>
  </head>
  <body style="height: 100%; margin: 0px;" onload="clearSelecteds(); //maximize();">
    <%= javascript_include_tag 'wz_tooltip.js' %>
    <table style="width: 100%; height: 100%; padding: 5px;" width="100%" cellpadding="0" cellspacing="0" border="0">
      <tr style="height: 90px;">
        <td style="">
          <table style="height:100%; width: 100%;" cellpadding="3" cellspacing="0" border="0">
            <tr class="welcome">
              <td class="welcome">Student Submissions Integrity Diagnosis (SSID) System</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="topMenu">
          <table>
            <tr>
              <td class="topMenuItem"><%=link_to 'Home', {:action => 'announcement'},  :class => 'topMenuItem' %></td>
              <td class="topMenuItem"><%=link_to 'My Modules', {:action => 'course_listing'},  :class => 'topMenuItem' %></td>
              <td class="topMenuItem"><%=link_to 'My Profile', {:action => 'account_edit'},  :class => 'topMenuItem'  %></td>
              <td class="topMenuItem"><%= link_to 'User Guide', {:action => 'guide'},  :class => 'topMenuItem' %></td>
              <td class="topMenuItem"><%= link_to 'Log Out', {:controller => 'login', :action => 'logout'},  :class => 'topMenuItem'  %></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr style="height: 100%;">
        <td style="padding-left: 10px; vertical-align: top;">
          <div class="breadcrumb"><%= link_to "My Modules", {:action => "course_listing"}, :class => "breadcrumbItem" %> > <%= link_to @course.code, {:action => "assignment_listing", :course_id => @course.id}, :class => "breadcrumbItem" %> > Visuals</div>
          <h2>Visuals</h2>
          <%
          if (flash[:notice])
            flash[:notice] = nil
          end

        %>
          <table class="main" cellpadding="0" cellspacing="0">
            <tr class="main" valign="top">
              <td class="leftColumn">
                <dl>
                  <dt>Module</dt>
                  <dd>
                    <%=
                    if @view != "assignments"
                      "<a class='graphMenu' href='graph_view_assignments?course_id=#{@course.id}'>Assignments</a>".html_safe
                    else
                      "Assignments"
                    end
                  %>
                  </dd>
                  <p />
                  <dt>Plagiarism Cluster</dt>
                  <dd>
                    <%=
                    if @view != "groups"
                      "<a class='graphMenu' href='graph_view_groups?course_id=#{@course.id}'>Clusters summary</a>".html_safe
                    else
                      "Clusters summary"
                    end
                  %>
                  </dd>
                  <dd>
                    <%=
                    if @view != "movement"
                      "<a class='graphMenu' href='graph_view_movement?course_id=#{@course.id}'>Member movement</a>".html_safe
                    else
                      "Member movement"
                    end
                  %>
                  </dd>
                  <p/>
                  <dt>Individual</dt>
                  <dd>
                    <%=
                    if @view != "ibetween"
                      "<a class='graphMenu' href='graph_view_ibetween?course_id=#{@course.id}'>Between individuals</a>".html_safe
                    else
                      "Between individuals"
                    end
                  %>
                  </dd>
                  <dd>
                    <%=
                    if @view != "iTopK"
                      "<a class='graphMenu' href='graph_view_iTopK?course_id=#{@course.id}'>Top similarities</a>".html_safe
                    else
                      "Top similarities"
                    end
                  %>
                  </dd>
                  <dd>
                    <%=
                    if @view != "igroups"
                      "<a class='graphMenu' href='graph_view_igroups?course_id=#{@course.id}'>Clusters for a student</a>".html_safe
                    else
                      "Clusters for a student"
                    end
                  %>
                  </dd>
                </dl>
              </td>
              <td class="rightColumn">
                <%= yield %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
